<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Verticurl_Automation_RegressionSuit</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a5e5c6">  <td>20/10/21 10:15:35</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUPTest(java.lang.String)[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@769f71a9]">&gt;&gt;setUPTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1327536153</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/10/21 10:15:46</td>   <td>11007</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginPage()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@769f71a9]">loginPage</td> 
  <td>main@1327536153</td>   <td></td> </tr>
<tr bgcolor="a5e5c6">  <td>20/10/21 10:15:48</td>   <td>13369</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@769f71a9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1327536153</td>   <td></td> </tr>
<tr bgcolor="a5e5c6">  <td>20/10/21 10:15:50</td>   <td>14831</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUPTest(java.lang.String)[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@3d680b5a]">&gt;&gt;setUPTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1327536153</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/10/21 10:16:02</td>   <td>26859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginPage()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@3d680b5a]">loginPage</td> 
  <td>main@1327536153</td>   <td></td> </tr>
<tr bgcolor="a5e5c6">  <td>20/10/21 10:16:04</td>   <td>29061</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@3d680b5a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1327536153</td>   <td></td> </tr>
<tr bgcolor="a5e5c6">  <td>20/10/21 10:16:06</td>   <td>31109</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUPTest(java.lang.String)[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@cd3fee8]">&gt;&gt;setUPTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1327536153</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/10/21 10:16:17</td>   <td>41563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginPage()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@cd3fee8]">loginPage</td> 
  <td>main@1327536153</td>   <td></td> </tr>
<tr bgcolor="a5e5c6">  <td>20/10/21 10:16:19</td>   <td>44025</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@cd3fee8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1327536153</td>   <td></td> </tr>
</table>
