<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9daf9d">  <td>20/10/19 16:49:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginPage()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@769e7ee8]">loginPage</td> 
  <td>main@1030228826</td>   <td></td> </tr>
<tr bgcolor="b1cc93">  <td>20/10/19 16:49:05</td>   <td>-15542</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String)[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@769e7ee8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030228826</td>   <td></td> </tr>
<tr bgcolor="b1cc93">  <td>20/10/19 16:49:27</td>   <td>6471</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@769e7ee8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030228826</td>   <td></td> </tr>
</table>
