<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Verticurl_Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eca565">  <td>20/10/20 17:31:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginPage()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@6193932a]">loginPage</td> 
  <td>main@386163331</td>   <td></td> </tr>
<tr bgcolor="eca565">  <td>20/10/20 17:32:04</td>   <td>14582</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginPage()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@5cee5251]">loginPage</td> 
  <td>main@386163331</td>   <td></td> </tr>
<tr bgcolor="eca565">  <td>20/10/20 17:32:19</td>   <td>29692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginPage()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@78e117e3]">loginPage</td> 
  <td>main@386163331</td>   <td></td> </tr>
<tr bgcolor="96a0d5">  <td>20/10/20 17:31:38</td>   <td>-11391</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUPTest(java.lang.String)[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@6193932a]">&gt;&gt;setUPTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@386163331</td>   <td></td> </tr>
<tr bgcolor="96a0d5">  <td>20/10/20 17:31:54</td>   <td>4205</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUPTest(java.lang.String)[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@5cee5251]">&gt;&gt;setUPTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@386163331</td>   <td></td> </tr>
<tr bgcolor="96a0d5">  <td>20/10/20 17:32:08</td>   <td>18551</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUPTest(java.lang.String)[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@78e117e3]">&gt;&gt;setUPTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@386163331</td>   <td></td> </tr>
<tr bgcolor="96a0d5">  <td>20/10/20 17:31:52</td>   <td>2599</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@6193932a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@386163331</td>   <td></td> </tr>
<tr bgcolor="96a0d5">  <td>20/10/20 17:32:06</td>   <td>16736</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@5cee5251]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@386163331</td>   <td></td> </tr>
<tr bgcolor="96a0d5">  <td>20/10/20 17:32:22</td>   <td>32187</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@78e117e3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@386163331</td>   <td></td> </tr>
</table>
