<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Verticurl_Automation_SanitySuit</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a5e5c6">  <td>20/10/21 10:14:44</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUPTest(java.lang.String)[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@1f3f4916]">&gt;&gt;setUPTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1327536153</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/10/21 10:14:56</td>   <td>11635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginPage()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@1f3f4916]">loginPage</td> 
  <td>main@1327536153</td>   <td></td> </tr>
<tr bgcolor="a5e5c6">  <td>20/10/21 10:14:58</td>   <td>14308</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@1f3f4916]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1327536153</td>   <td></td> </tr>
<tr bgcolor="a5e5c6">  <td>20/10/21 10:15:00</td>   <td>15617</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUPTest(java.lang.String)[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@10e92f8f]">&gt;&gt;setUPTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1327536153</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/10/21 10:15:15</td>   <td>30679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginPage()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@10e92f8f]">loginPage</td> 
  <td>main@1327536153</td>   <td></td> </tr>
<tr bgcolor="a5e5c6">  <td>20/10/21 10:15:17</td>   <td>32854</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@10e92f8f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1327536153</td>   <td></td> </tr>
<tr bgcolor="a5e5c6">  <td>20/10/21 10:15:18</td>   <td>34387</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUPTest(java.lang.String)[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@6fe7aac8]">&gt;&gt;setUPTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1327536153</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/10/21 10:15:32</td>   <td>47582</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginPage()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@6fe7aac8]">loginPage</td> 
  <td>main@1327536153</td>   <td></td> </tr>
<tr bgcolor="a5e5c6">  <td>20/10/21 10:15:34</td>   <td>50069</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@6fe7aac8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1327536153</td>   <td></td> </tr>
</table>
