<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FF</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ca61a2">  <td>20/10/20 09:37:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginPage()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@433d61fb]">loginPage</td> 
  <td>main@153245266</td>   <td></td> </tr>
<tr bgcolor="ca61a2">  <td>20/10/20 09:36:41</td>   <td>-20357</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUp(java.lang.String)[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@433d61fb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@153245266</td>   <td></td> </tr>
<tr bgcolor="95d394">  <td>20/10/20 09:37:08</td>   <td>6850</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:org.verticurl.xlo.testCases.LoginTest@433d61fb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@153245266</td>   <td></td> </tr>
</table>
