<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Verticurl Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eca565">  <td>20/10/20 14:45:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass.setUp(java.lang.String)[pri:0, instance:org.verticurl.xlo.utilities.BaseClass@2ddc8ecb]">setUp</td> 
  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="eca565">  <td>20/10/20 14:45:59</td>   <td>29320</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:org.verticurl.xlo.utilities.BaseClass@2ddc8ecb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="eca565">  <td>20/10/20 14:46:02</td>   <td>32273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass.setUp(java.lang.String)[pri:0, instance:org.verticurl.xlo.utilities.BaseClass@78aab498]">setUp</td> 
  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="eca565">  <td>20/10/20 14:46:31</td>   <td>60642</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:org.verticurl.xlo.utilities.BaseClass@78aab498]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="eca565">  <td>20/10/20 14:46:32</td>   <td>61911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass.setUp(java.lang.String)[pri:0, instance:org.verticurl.xlo.utilities.BaseClass@1677d1]">setUp</td> 
  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="eca565">  <td>20/10/20 14:47:04</td>   <td>93956</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:org.verticurl.xlo.utilities.BaseClass@1677d1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
</table>
